  html {
    background-color: black;
  }
  
  .imgbox {
    display: grid;
    height: 100%;
  }

  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }

  p, a {
    white-space: nowrap;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: white;
    font-family: Economica, sans-serif;
    text-decoration: none;
  }
  
  .navbar {
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar a:hover {
    color: #546fca;
  }

  .buttons {
    display: flex;
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    flex-flow: wrap;
    justify-content: space-between;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 0.01px;
    flex-shrink: 3;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    border-radius: 5px;
  }
